/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    color: #000;
    background-image: url("assets/aaa.jpg");
}